@import "../modules/all";

.image-collection {
  * {
    margin: 0;
    padding: 0;
  }

  .image-line {
    @extend %cf;

    & > a {
      display: block;
      float: left;

      & > img {
        display: block;
        width: 100%;
      }
    }
  }
}