.galleries {
  ul {
    @extend %cf;

    li {
      float: left;
      width: 25%;

      article {
        a {
          display: block;

          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}